.cardTotal{
    background-image: url(../img/background/card.png);
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 27px;
    height: 31px;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.totalAmount{
    color: white;
}

.cardItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnSauce{
    background-image: url(../img/sauce-button.png);
    color: white;
}
.btnSauce:hover{
    background-image: url(../img/sauce-button-hover.png);
    color: white;
}

.hero{
    background-image: url(../img/background/homePageHeroBackgroundImage.png);
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    color: white;
}
.heroContainer{
    min-height: 90vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    


.helloCostomer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}
.warning{
    color: orange;
}
.rightCorner{
    width: fit-content;
    margin-left: auto;
}