.cardTotal{
    background-image: url(../img/background/card.png);
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 27px;
    height: 31px;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.totalAmount{
    color: white;
}

.cardItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnSauce{
    background-image: url(../img/sauce-button.png);
    color: white;
}
.btnSauce:hover{
    background-image: url(../img/sauce-button-hover.png);
    color: white;
}

.hero{
    background-image: url(../img/background/homePageHeroBackgroundImage.png);
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    color: white;
}
.heroContainer{
    min-height: 90vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    


.helloCostomer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}
.warning{
    color: orange;
}
.rightCorner{
    width: fit-content;
    margin-left: auto;
}

.review{
    background-image: url(../img/background/backgroundUnderHeroRedImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.callUs{
    background-color: white;
    color: black;
    border-radius: 1.5625rem;
    padding: 0.9375rem 1.25rem;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: -25px;
}

.reviewContainer{
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specials{
    background-image: url(../img/background/weeklySpecialsWood.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;

}

.textWhite{
    color: white;
}

.spetialCard{
    background-color: white;
    padding: 40px;
}

.spetialCard img{
    width: 100%;
}

.cardTitle{
    font-size: 52px;
    color: red;
    font-weight: 900;
}
.cardImage{
    position: relative;
    margin-bottom: 40px;
}
.cardSpecials{
    border: 1px solid black;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: -16px;
    bottom: -26px;
    background-color: white;
}
.specialTitle{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    transform: rotate(-10.818deg);
    display: inline-block;
}

.specialPrice{
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.45px;

}

.specialPriceCent{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    border-bottom: 2px solid black;
    width: fit-content;
}

.specialPriceGroup{
    display: flex;
    flex-direction: column;
}
.specialPriceEach{
    margin-top: 2px;
    text-transform: uppercase;
    font-size: 9px;
}