

// Our specials change weekly. Check back every Sunday for new specials!
color: white;
font-size: 16px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Home
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Menu
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Catering
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// About
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Hours & Location
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Order Now
color: #FCE3E3;
font-size: 18px;
font-family: Roboto Slab;
font-weight: 500;
word-wrap: break-word
---
// 0
color: black;
font-size: 13px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// $
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// 0.00
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Home
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Menu
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Catering
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// About
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Hours & Location
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Order Now
color: white;
font-size: 18px;
font-family: Roboto Slab;
font-weight: 500;
word-wrap: break-word
---
// 0
color: black;
font-size: 13px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// $
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// 0.00
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Authentic New York Style Pizza
color: white;
font-size: 54px;
font-family: Roboto Slab;
font-weight: 900;
word-wrap: break-word
---
// Winner of the Orlando Foodie Award!
color: white;
font-size: 30px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// “Best Pizza in Orlando”
color: white;
font-size: 30px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Locations
color: #FCE3E3;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// Menu
color: #FCE3E3;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// Hello Marquis, Welcome back!
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 400;
word-wrap: break-word
---
// Order your favorites
color: #FCE3E3;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// My Rewards
color: #FCE3E3;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// Order from us, we kneed the dough
color: #F0A502;
font-size: 35px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Nestled in the heart of Orlando, our family-owned pizzeria embodies the essence of tradition, passion, and flavor that defines authentic New York pizza. For generations, our family has dedicated itself to perfecting the art of pizza-making, passing down cherished recipes and techniques that have stood the test of time.<br/>
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 400;
word-wrap: break-word
---
// From the moment you step inside, you're greeted with the tantalizing aroma of freshly baked pizza dough mingling with the rich scent of simmering tomato sauce. Our bustling kitchen is a symphony of activity, with skilled hands tossing dough, layering toppings, and sliding pizzas into our roaring brick oven.
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 400;
word-wrap: break-word
---
// Over the years, our pizzeria has become a beloved fixture in the community, a gathering place where friends and families come together to share laughter, stories, and, of course, slices of our famous pizza. Whether you're grabbing a quick lunch on the go or savoring a leisurely dinner with loved ones, we strive to create an atmosphere that feels like home.<br/>
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 400;
word-wrap: break-word
---
// Join us on a journey through taste and tradition as we invite you to experience the true essence of New York pizza, one slice at a time.
color: #F3B454;
font-size: 24px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Our Story
color: white;
font-size: 36px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Give Us A Call 555-555-5555
color: #172001;
font-size: 28px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Come and See What People are Talking About
color: white;
font-size: 36px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Weekly Specials
color: white;
font-size: 36px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Cannoli Delight
color: #C72100;
font-size: 52px;
font-family: Spartan;
font-weight: 900;
word-wrap: break-word
---
// Only
color: black;
font-size: 12px;
font-family: Pattaya;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 0.60px;
word-wrap: break-word
---
// 3
color: black;
font-size: 29px;
font-family: Pattaya;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 1.45px;
word-wrap: break-word
---
// 99
color: black;
font-size: 16px;
font-family: Pattaya;
font-weight: 400;
text-decoration: underline;
text-transform: capitalize;
letter-spacing: 0.80px;
word-wrap: break-word
---
// eACH
color: black;
font-size: 9px;
font-family: Passion One;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 0.45px;
word-wrap: break-word
---
// Indulge your sweet tooth with our Heavenly Cannoli Delight. Our cannoli shells are made fresh daily, handcrafted to perfection to achieve the ideal balance of crispiness and delicacy. Filled with a luscious, creamy ricotta cheese filling that's been lovingly whipped to airy perfection, each cannoli is a heavenly treat that melts in your mouth.
color: black;
font-size: 14px;
font-family: Spartan;
font-weight: 400;
text-transform: capitalize;
line-height: 21px;
letter-spacing: 0.70px;
word-wrap: break-word
---
// Order Now
color: #FCE3E3;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// 6 Wings of Perfection
color: #C72100;
font-size: 52px;
font-family: Spartan;
font-weight: 900;
word-wrap: break-word
---
// Only
color: black;
font-size: 12px;
font-family: Pattaya;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 0.60px;
word-wrap: break-word
---
// 8
color: black;
font-size: 29px;
font-family: Pattaya;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 1.45px;
word-wrap: break-word
---
// 99
color: black;
font-size: 16px;
font-family: Pattaya;
font-weight: 400;
text-decoration: underline;
text-transform: capitalize;
letter-spacing: 0.80px;
word-wrap: break-word
---
// eACH
color: black;
font-size: 9px;
font-family: Passion One;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 0.45px;
word-wrap: break-word
---
// our wings are cooked to crispy perfection, with a golden-brown exterior that locks in all the delicious juices, ensuring each bite is bursting with mouthwatering flavor. Paired with a side of cool, creamy ranch or tangy blue cheese dressing and a crisp celery stick, it's a match made in flavor heaven.
color: black;
font-size: 14px;
font-family: Spartan;
font-weight: 400;
text-transform: capitalize;
line-height: 21px;
letter-spacing: 0.70px;
word-wrap: break-word
---
// Order Now
color: #FCE3E3;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// Nona’s Meatballs
color: #C72100;
font-size: 52px;
font-family: Spartan;
font-weight: 900;
word-wrap: break-word
---
// Only
color: black;
font-size: 12px;
font-family: Pattaya;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 0.60px;
word-wrap: break-word
---
// 7
color: black;
font-size: 29px;
font-family: Pattaya;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 1.45px;
word-wrap: break-word
---
// 99
color: black;
font-size: 16px;
font-family: Pattaya;
font-weight: 400;
text-decoration: underline;
text-transform: capitalize;
letter-spacing: 0.80px;
word-wrap: break-word
---
// eACH
color: black;
font-size: 9px;
font-family: Passion One;
font-weight: 400;
text-transform: capitalize;
letter-spacing: 0.45px;
word-wrap: break-word
---
// Our meatballs are made from the finest quality ground beef, expertly seasoned with a blend of aromatic herbs and spices that infuse every bite with rich, savory goodness. Slow-cooked to perfection in a luscious tomato sauce.
color: black;
font-size: 14px;
font-family: Spartan;
font-weight: 400;
text-transform: capitalize;
line-height: 21px;
letter-spacing: 0.70px;
word-wrap: break-word
---
// Order Now
color: #FCE3E3;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// “If you're searching for a taste of authentic New York-style pizza that will transport you straight to the bustling streets of the Big Apple, look no further than Pizza Ave. From the moment you step through the door, the aroma of freshly baked dough and bubbling cheese fills the air, tantalizing your taste buds and igniting your appetite.”
color: black;
font-size: 20px;
font-family: Spartan;
font-weight: 400;
line-height: 36.74px;
word-wrap: break-word
---
// R
color: white;
font-size: 48px;
font-family: Roboto;
font-weight: 400;
word-wrap: break-word
---
// Roger L.
color: #888888;
font-size: 18px;
font-family: Roboto;
font-weight: 400;
word-wrap: break-word
---
// N
color: white;
font-size: 48px;
font-family: Roboto;
font-weight: 400;
word-wrap: break-word
---
// Natalie C.
color: #888888;
font-size: 18px;
font-family: Roboto;
font-weight: 400;
word-wrap: break-word
---
// Marquis Garvey
color: black;
font-size: 18px;
font-family: Roboto;
font-weight: 400;
word-wrap: break-word
---
// Home
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Menu
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Catering
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// About
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Hours & Location
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Careers
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// My Rewards
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Sponsorships
color: white;
font-size: 18px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Locations<br/>
color: white;
font-size: 32px;
font-family: Spartan;
font-weight: 600;
text-decoration: underline;
word-wrap: break-word
---
// <br/>
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 600;
word-wrap: break-word
---
// Winter Park, FL<br/>Oviedo, FL<br/>More coming soon..
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 600;
line-height: 36px;
word-wrap: break-word
---
// Connect with us!
color: white;
font-size: 32px;
font-family: Spartan;
font-weight: 400;
word-wrap: break-word
---
// enter email address
color: rgba(0, 0, 0, 0.37);
font-size: 20px;
font-family: Spartan;
font-weight: 400;
word-wrap: break-word
---
// Google
color: white;
font-size: 40px;
font-family: Font Awesome 5 Brands;
font-weight: 400;
word-wrap: break-word
---
// Facebook
color: white;
font-size: 40px;
font-family: Font Awesome 5 Brands;
font-weight: 400;
word-wrap: break-word
---
// Instagram
color: white;
font-size: 40px;
font-family: Font Awesome 5 Brands;
font-weight: 400;
word-wrap: break-word
---
// Need Help? <br/>Give us a call!<br/>555-555-5555
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 600;
line-height: 36.05px;
word-wrap: break-word
---
// Give the Gift of Pizza
color: white;
font-size: 40px;
font-family: Roboto Slab;
font-weight: 700;
word-wrap: break-word
---
// Looking for the perfect gift for the pizza lover in your life? Look no further than our Pizza Restaurant Gift Card! Treat your friends, family, or colleagues to a delicious dining experience filled with mouthwatering flavors and unforgettable moments.
color: white;
font-size: 16px;
font-family: Spartan;
font-weight: 400;
line-height: 24px;
word-wrap: break-word
---
// Buy a Gift Card
color: black;
font-size: 18px;
font-family: Spartan;
font-weight: 500;
word-wrap: break-word
---
// Winter Park, FL
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// Oviedo, FL
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word
---
// More Coming Soon!
color: white;
font-size: 24px;
font-family: Spartan;
font-weight: 700;
word-wrap: break-word

