.cardTotal{
    background-image: url(../img/background/card.png);
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 27px;
    height: 31px;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.totalAmount{
    color: white;
}

.cardItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnSauce{
    background-image: url(../img/sauce-button.png);
    color: white;
}